spawn-at-startup "noctalia"
spawn-at-startup "steam"
spawn-at-startup "discord"
spawn-at-startup "ferdium"
spawn-at-startup "kdeconnect-indicator"

spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
spawn-sh-at-startup "wl-paste --type image --watch cliphist store"
spawn-sh-at-startup "wl-clip-persist --clipboard regular --reconnect-tries 0"
spawn-sh-at-startup "oniri --tiling-layout"