spawn-at-startup "awww-daemon"
spawn-at-startup "swaync"
spawn-at-startup "steam"
spawn-at-startup "discord"
spawn-at-startup "ferdium"
spawn-at-startup "kdeconnect-indicator"
spawn-at-startup "blueman-applet"
spawn-at-startup "nm-applet"

spawn-sh-at-startup "waybar -c ~/.config/waybar/config-ext.jsonc"
spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
spawn-sh-at-startup "wl-paste --type image --watch cliphist store"
spawn-sh-at-startup "wl-clip-persist --clipboard regular --reconnect-tries 0"
spawn-sh-at-startup "systemctl start --user hyprpolkitagent"