// Don't know where to put this lol

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 22
}

hotkey-overlay {
    skip-at-startup
}

clipboard {
    disable-primary
}

screenshot-path "~/Imágenes/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

debug {
  honor-xdg-activation-with-invalid-serial
}

blur {
    passes 2
    offset 3.0
    noise 0.03
    saturation 1.0
}

prefer-no-csd